body {
	background-color: #000000;
	font-family: Verdana;
}

h1 {
	font-size: 20px;
	color: #f90711;
	text-align: center;
}

h2 {
	font-size: 14px;
	color: #f90711;
	text-align: center;
}

h3 {
	font-size: 12px;
	color: #f90711;
	text-align: center;
}

input {
	background-color: #000000;
	text-align: center;
	font-size: 16px;
	color: #f90711;
	border: 2px solid #f90711;
	border-radius: 4px;
}

input[type="text"]::-webkit-input-placeholder {
	color: #f90711;
	font-size: 12px;
}

.input {
	text-align: center;
	margin-top: 30px;
}

button {
	background-color: #000000;
	margin-left: 10px;
	font-size: 16px;
	color: #f90711;
	border: 2px solid #f90711;
	border-radius: 4px;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.block1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: aqua;
	margin-right: 200px;
	font-size: 12px;
}

.block2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: green;
	margin-left: 100px;
	font-size: 12px;
}

.block_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 12px;
	margin-top: 20px;
	color: #f90711;
}
